__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
ENV/
.Python

.ipynb_checkpoints/
*.ipynb

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log
.pytest_cache/

target/
dbt_packages/
logs/
.dbt/
profiles.yml

airflow/airflow.db
airflow/logs/
*.sqlite
*.pid

docker-compose.override.yml
.env
.env.*
secrets/

kafka-data/
zookeeper-data/
minio-data/

dist/
build/
*.bak
*.swp

plugins/
*.jar
*.zip
